<header>
    <nav>
        <a href="/">Sellers</a>
        <ul>
            <li> <a href="/sellers"> Sellers</a></li>
            <li> <a href="/sellers/new"> Add Sellers</a></li>
            <li> <a href="/albums"> Albums</a></li>
            <li> <a href="/albums/new"> Add Albums</a></li>
        </ul>
    </nav>
</header>