<%- include ('../partials/header.ejs') %>
<h1> New Seller</h1>
</body>

<form action='/sellers/' method="POST">
    <div class="form-group">
        <label for="name">Username</label>
        <input type="text" class="form-control" id="name" name="name" />

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include ('../partials/footer.ejs') %>